*{
    padding: 0;
    margin: 0;
}

body{
    background-color: whitesmoke;
    margin: 3rem 5%;
    color: #263A29;
}

/*---------------------------------- Header Logo --------------------------------- */

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

header>img{
    width: 20%;
    height: auto;
}

/* ------------------------------------- Navbar --------------------------------*/
nav{

    background-color: #E86A33;
    padding: 1.5rem;
    margin: 1rem 0 2rem 0;
}

nav>ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    text-align: center;

    margin: 0 10%;
}

nav a{
    font-size: 1.5rem;
    color: #263A29;
    text-decoration: none;
}

nav a:hover{
    color: #F2E3DB;
}

/* --------------------Heading for Menu Items---------------------------- */

#menu-heading{
    font-size: 2rem;
    text-align: center;
    background-color: #263A29;
    color: #ecd7cc;
    margin-bottom: 2.5rem;
}

/* ---------------------Menu Cards with grid--------------------------- */

.grid-box{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 2rem; 
    margin: 1rem 0 2.5rem 0;   
}



/* -------------------------- Card style --------------------------- */

.grid-box .card{
    background-color: #F2E3DB;
    padding: 1rem;
    border-radius: 5%;
    text-align: center;
}

.grid-box .card:hover{
    background-color: #ecd7cc;
}

.grid-box img{
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
}

hr{
    margin: 1rem 0;
}

.grid-box h1{
    font-size: 1.5rem;
}

.grid-box h3{
    font-size: 1.5rem;
    color: #E86A33;
}

.card button{
    background-color: #263A29;
    color: #F2E3DB;
    border-radius: 5%;
    text-transform: uppercase;
    padding: 1rem;
    border: none;
    margin-top: 1rem;
}

.card button:hover{
    background-color: #E86A33;
    
    border: none;
}

/* -----------------------------Footer---------------------- */

footer{
    background-color: #263A29;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F2E3DB;
}

footer img{
    width: 2rem;
    height: auto;
    margin-right: 1rem;
}


/* -------------------- Media Queries ---------------------------- */


@media only screen and (max-width: 600px) {

    nav{

        background-color: #E86A33;
        padding: 1rem;
        margin: 1rem 0;
    }

    nav>ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
        text-align: center;
    
        margin: 0 5%;
    }

    nav a{
        font-size: 1rem;
        color: #263A29;
        text-decoration: none;
    }

}

@media only screen and (max-width: 1500px){

    .grid-box{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        gap: 2rem;
        
    }
}

@media only screen and (max-width: 950px){

    .grid-box{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr ;
        grid-template-rows: 1fr 1fr;
        gap: 2rem;
        margin: 1rem 0 2.5rem 0;     
        
    }

}

@media only screen and (max-width: 760px){

    .grid-box{
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 2rem;
        margin: 1rem 0 2.5rem 0;    
        
    }

}






